* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.preload * {
  transition: none !important;
}
