.SectionHeader {
  margin-bottom: 2em;
}

.SectionHeader-title {
  margin: 0 0 1em;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.1;

  @media (--medium-viewport) {
    font-size: 2.5em;
  }

  @media (--large-viewport) {
    font-size: 3em;
  }
}
